table{
    width: 95%;
    border-collapse: collapse; 
    background-color: rgb(220,220,220);
}

.headerRow{
    border: 2px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    color:rgba(0, 0, 0, 0.5);
}

.bolded{
    color: rgba(0, 0, 0, 1);
}

th, td{
    padding: 15px;
    white-space: nowrap;
    user-select: none;
}

.theTable{
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    height: 100vh; 
    margin: 0; 
}

.clickable{
    cursor: pointer; 
}


@media screen and (max-width: 768px){

    table{
        width: 70%
    }
    th,td{
        padding: 5px;
    }

    .theTable{
        font-size: 9px;
        padding: 0px;
    }

}