.hideFilterMenu{
    overflow: hidden;
    top: 0;
    width: 100%;
}

.hide{
    opacity: 0;
    pointer-events: none;
}

.filterButton{
    background: none; 
     border: none; 
    color: inherit; 
    font: inherit; 
    padding: 0; 
    cursor: pointer; 
    text-decoration: none; 
    font-size: 30px;

}


.tableDiv{
    background-color: rgb(220,220,220);
    height: 100vh;
}


@media screen and (max-width: 800px){

}


